.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  width: 380px;
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  background: #1e293b;
  color: white;
}

.error-text {
  color: #ff4d4d;
  margin-top: 10px;
  text-align: center;
}
